html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: $font-color;
  background-color: $background-color;
  min-height: 100vh;
  position: relative;
  float: left;
}


body * {
  box-sizing: border-box;
}

#root {
  display: contents
}