@media (max-width: 768px) {

  .comp-lottery-number {
    width: 22px;
    height: 24px;
    border-radius: 5px;

    span {
      font-size: 12px;
      font-weight: 400;
    }
  }

  .comp-slider {
    div[role="presentation"] {
      display: none;
    }
  }


  .comp-lottery-numbers {
    gap: 5px;

    .text {
      font-size: 12px;
      font-weight: 600;
      min-width: 110px;
    }
  }


}