.content-container {
  width: 100%;
  max-width: 792px;
  min-height: 400px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.10);
  padding: 48px 78px;
}

.play-content {
  @include flexCol();
  gap: 24px;

  .sec-title {
    h2 {
      color: $text-color;
      font-size: 40px;
      line-height: 55px;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;
    }
  }

  .sec-summary {
    border-radius: 10px;
    background: $primary-color;
    padding: 18px 20px;
    position: relative;
    float: left;

    .text,
    .number,
    input {
      color: #FFF;
      font-size: 14px;
      line-height: normal;
      line-height: 26px;
      font-weight: 700;
      padding: 0px 4px;
      text-align: left;
    }

    .number input {
      float: left;
      min-width: 0px;
    }


    .text.big,
    .number.big input {
      font-size: 16px;
    }

    .number.big input {
      font-weight: 800;
    }
  }

  .sec-wons {
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #F6F0C6;
    background: #FFF;
    border-radius: 10px;
    max-width: 500px;
  }

  .sec-play-random {
    @include flexRow();
    gap: 56px;

    .checkbox {
      color: $primary-color;
      cursor: pointer;
    }

    .text {
      @include baseText();
    }
  }

  .sec-speed {
    .text {
      @include baseText();
    }
  }

  .sec-flow-controls {
    @include flexCol();
    margin-top: 20px;

    .buttons {
      @include flexRow();
      gap: 56px;
      padding: 10px 30px;
      border-radius: 20px;
      border: dashed 1px $primary-color;
      background-color: #fffef4;
    }
  }
}